/* variables */
:root{
    --txtw: #FFF;
    --txtb: #000;
    --c0: #1d2528;
    --c1: #1f272a;
    --c2: #232c31;
    --c3: #37464d;
    --c4: #3c4d54;
    --fimg: 40px;
}
@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa.ttf);
}
@keyframes cardAni {
    0% {transform: translateY(20px); filter: opacity(0);}
    100% {transform: translateY(0px); filter: opacity(1);}
    
}
@keyframes pulsate{
    0% {filter: opacity(1) invert(0);}
    10% {filter: opacity(1) invert(0);}
    80% {filter: opacity(0.2) invert(20%);}
    100% {filter: opacity(1) invert(0);}
}
@keyframes profAni{
    0% {filter: opacity(0); transform: translateY(-10px);}
    50% {filter: opacity(1); transform: translateY(0px); color: var(--txtw);}
    100% {filter: opacity(1); transform: translateY(0px); color: var(--txtb);}
}
/* ----- ----- ----- */

/* general */
html{min-width: 440px; scroll-behavior: smooth; background-color: var(--c0);
}
body{
	font-family: Comfortaa; position: relative;
    cursor: default; color: var(--txtw); user-select: none;
}
body::-webkit-scrollbar {display: none;}
*{box-sizing: border-box; outline: none; font: inherit;}
/* ----- ----- ----- */

.bg-image{
    position: absolute; z-index: -1; transition-duration: 2s;
    background-position: center;
    width: 100%; height: 100%;
    background-size: 160%; filter: opacity(0);
    background-attachment: fixed; background-repeat: no-repeat;
}
.main-title-holder{display: inline-block; position: relative;}
.main-title{
    display: inline-block; padding: 20px; font-weight: bold;
    font-size: 30px; line-height: 40px;
}
.vertical-space{height: 10px;}

.main-body{min-height: 600px; display: flex; flex-direction: column;}
.wrapper{margin-left: 10px; margin-right: 10px; display: flex; transition-duration: 0.4s;}
@media (min-width: 768px) {
	.wrapper{margin-left: 4%; margin-right: 4%;}
}
@media (min-width: 1024px) {
	.wrapper{margin-left: 6%; margin-right: 6%;}
}
@media (min-width: 1200px) {
	.wrapper{margin-left: 8%; margin-right: 8%;}
}

.align-center{justify-content: center;}
.footer{min-height: 100px; width: 100%; display: flex; justify-content: flex-start; align-items: center;}
.footer-img-links{height: var(--fimg); margin: 20px;}
.footer-img{height: var(--fimg); width: var(--fimg); transition-duration: 0.2s;}
.footer-text{
    font-size: 16px; line-height: 100px; filter: blur(2px); opacity: 0;
	text-align: center; padding: 20px 0 20px 0; transform: scaleX(1.04); transition-duration: 0.4s;}
.footer-text:hover{filter: none; opacity: 1; transform: scaleX(1);}

/* cards */
.main-chart{display: flex; flex-direction: row; flex-wrap: wrap;
}
.card-border{padding: 14px; width: 100%;}
.card{
    height: auto; width: auto; border-radius: 16px; padding: 16px;
    background-size: 200%; background-position: right; transition-duration: 0.8s;
    animation-name: cardAni; animation-duration: 0.8s; animation-fill-mode: forwards;
    animation-direction: normal; animation-iteration-count: 1;
}
.c-and-p{display: flex; flex-direction: row; align-items: flex-end; font-weight: bold;}
.course{font-size: 28px; transition-duration: 0.4s;}
.prof{font-size: 14px; margin-left: 4px; filter: opacity(0);}
.counter{
    display: flex; flex-direction: row; justify-content: flex-end; margin-top: 10px;
}
.slot{
    display: flex; flex-direction: column; justify-content: flex-end; position: relative;
    margin-left: 12px; transition-duration: 0.4s;
    height: 140px; width: 72px;
}
.slot-bg{
    position: absolute; border-radius: 8px;
    bottom: 0px; transition-duration: 0.6s;
    height: 0px; width: 72px;
}
.slot:nth-child(1) .slot-bg{animation-delay: 0.1s;}
.slot:nth-child(2) .slot-bg{animation-delay: 0.2s;}
.slot:nth-child(3) .slot-bg{animation-delay: 0.3s;}
.slot:nth-child(4) .slot-bg{animation-delay: 0.4s;}
.slot:nth-child(1) .slot-head, .slot:nth-child(1) .slot-tail{transition-delay: 0.1s;}
.slot:nth-child(2) .slot-head, .slot:nth-child(2) .slot-tail{transition-delay: 0.2s;}
.slot:nth-child(3) .slot-head, .slot:nth-child(3) .slot-tail{transition-delay: 0.3s;}
.slot:nth-child(4) .slot-head, .slot:nth-child(4) .slot-tail{transition-delay: 0.4s;}
.slot-head{text-align: center; font-size: 24px; z-index: 1; transition-duration: 0.4s;}
.slot-tail{text-align: center; font-size: 12px; z-index: 1; transition-duration: 0.4s; margin-bottom: 12px;}

.card:hover{background-position: left;}
.card:hover .course{color: var(--txtb);}
.card:hover .prof{animation-name: profAni; animation-duration: 0.6s;
    animation-direction: normal; animation-iteration-count: 1; animation-fill-mode: forwards;}
.card:hover .slot-bg{
    animation-name: pulsate; animation-duration: 1s;
    animation-direction: normal; animation-iteration-count: infinite;}
.card:hover .slot-head, .card:hover .slot-tail{color: var(--txtb);}
.footer-img:hover {transform: scale(1.1); filter: invert(100%);}
/* ----- ----- ----- */

/* responsive */
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
    .card-border{width: 50%;}
}
@media (min-width: 1200px) {
    .course{font-size: 36px;}
    .prof{font-size: 18px; margin-left: 4px;}
    .slot{height: 200px; width: 96px;}
    .slot-bg{width: 96px;}
    .slot-head{font-size: 36px;}
    .slot-tail{font-size: 18px;}
}
/* ----- ----- ----- */

/* debugger */
.shit{border: 1px solid red;}